
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* :root {
    --cor-primaria: #ffffff;
    --cor-secundaria: #1F5673;
    --cor-terciaria: #759FBC;
    --cor-quaternaria: #EF8354;
    --cor-hover: #90C3C8;
    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
} */

:root {
    --cor-primaria: #09122C;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #BE3144;
    --cor-quaternaria: #E17564;
    --cor-hover: #BE3144;
    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0 0 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;

}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-size: 24px;
    font-weight: 600;
    color: var(--cor-secundaria);
    text-decoration-line:none;
}

.titulo-destaque {
    color: var(--cor-quaternaria);
}

.texto-destaque {
    color: var(--cor-terciaria);
}

.apresentacao {
    padding: 3% 15%;
    display: flex;
    align-items: center;    
    justify-content: space-evenly;
}


.apresentacao__conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 36px;
    font-family: var(--fonte-primaria);
}

.apresentacao__conteudo__paragrafo {
    font-size: 24px;
    font-family: var(--fonte-secundaria);
}

.apresentacao__conteudo__links {
    display: flex; /* Alinha conteudo */
    flex-direction: column; /* Direcao vertical */
    align-items: center; /* Para centralizar na vertical */
    justify-content: space-between; /* Insere espaçõ entre elementos */
    gap: 32px;
}

.apresentacao__conteudo__links__links {
    display: flex;
    justify-content: center;
    gap: 16px;
    /*background-color: #90C3C8;*/ /* Muda a cor de fundo */
    border: 2px solid var(--cor-terciaria);
    width: 378px;
    text-align: center;
    border-radius: 16px; /* Arredonda a Caixa */
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none; /* Retira o sublinhado */
    /* color: #000000; */
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
}

.apresentacao__conteudo__links__links:hover {
    background-color: var(--cor-hover);
    color: var(--cor-primaria);
    border: 2px solid var(--cor-hover);
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-primaria);
    font-size: 400;
    font-size: 24px;
}

.rodape {
    padding: 24px;
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 24px;
    font-weight: 400;
}

